.footer-container {
  text-align: center;
  align-self: stretch;
  margin-bottom: 65px;
  background-color: #cbd5e1;
}

.footer-text {
  font-family: 'Roboto';
  color: #475569;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 50px;
  }
}
